mongodb_data/journal/WiredTigerLog.0000000001 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerPreplog.0000000001 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerPreplog.0000000002 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000002 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000003 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000004 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000005 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000006 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000007 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000009 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000010 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000011 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000012 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000014 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000017 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000020 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000021 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000024 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000025 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000027 filter=lfs diff=lfs merge=lfs -text
mongodb_data/journal/WiredTigerLog.0000000028 filter=lfs diff=lfs merge=lfs -text
